.App {
  text-align: center;
}
.new-todo-area{
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-new-todo{
  margin-right: 10px;
}

.add-new-todo-button{
  width: 100px;
  height: 40px;
  background-color: #17bf63;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: #fff;
  font-size: 15pt;
  font-weight: bold;
  cursor: pointer;
}